/* Style for the header*/

.header {
  margin-left: 0px;
  margin-right: auto;
  height: auto;
  width: 300px;
  align-items: flex-end;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-family:Arial, sans-serif;
  font-weight:lighter;

}
.logo {
  margin-left: 20px;
  margin-right:-10px;
  height: 80%;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;
  color: white;
  font-size: 24px;
  background: #991522;
}

/*non-dropdown buttons*/
nav a {
  text-decoration: none;
  font-size:.8em;
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
  margin: 20px 30px;

}
a:hover {
  text-decoration:underline;
}

/* Dropdown Button */
.dropbtn {
    background: #991522;
    color: white;
    padding: 5px;
    font-size: .8em;
    border:none;
    font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
    margin: 20px 30px;
    margin-bottom:10px;
    text-transform:uppercase;
    cursor:pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align:center;
    background: #bf1324;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Underline/ Change color of dropdown links on hover */
.dropdown-content a:hover {text-decoration:underline;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Underline the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {text-decoration:underline;}

body {
    background-color: #bcbcbc;
    background-image: url("img/dark_gray_background1.jpg");
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Formatting the footer*/
footer {
    background-color: #fff;
    font-size: 12px;
    margin-top: 50px auto;
    margin-bottom:100px;
    margin-left:auto;
    margin-right:auto;
    height: 500px;
    width:1020px;
}

 .column {
    width:30%;
    float:left;
    margin-left: 15px;
    margin-right:15px;
 }
